header
  nav
    ul(class="flex")
      li(class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2")
        a.block(href="/")
          | Home
      li(class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2")
        a.block(href="/about-us.html")
          | About Us
      li(class="flex-1 text-grey-darker text-center bg-grey-light px-4 py-2 m-2")
        a.block(href="/html.html")
          | HTML demo

